/*  FONTS */
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios Regular';
    src: url('fonts/Helios.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios Bold';
    src: url('fonts/Helios-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'HeliosExt Bold';
    src: url('fonts/HeliosExt Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* CONTENT */
body {
    font-family: 'Inter', sans-serif, 'HeliosExt Bold'; /* Specify multiple font families */
    margin: 0;
    padding: 0;
    background-color: #141418;
    color: #ffffff;
    margin: 0 auto;
    max-width: 1500px; /* Adjust the maximum width as needed */
}

/* HEADER */

#header {
    display: flex;
    padding: 10px 65px;
    position: fixed;
    top: 0px;
    width: 90%;
    height: 95px;
    /* background-color: #141418; */
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px; /* Adjust the size of the logo as needed */
    margin-right: 10px; /* Add margin for spacing */
}

/* NAVBAR */

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px; /* Adjust the margin between navbar items */
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Helios Regular', sans-serif
}

/* SOCIAL */

#social {
    display: flex;
    align-items: center;
}

#social div {
    margin-right: 10px; /* Adjust the margin between social icons */
}

#social img {
    width: 30px; /* Adjust the size of the social icons as needed */
}

/* HOME */

#home {
    text-align: center;
    position: relative;
    margin-top: 130px; /* Add some top margin to push content down */
    scroll-margin-top: 130px;
    /* padding-top: 70px; */
    height: 82vh
}

#home img {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
}

/* Make the globe a little bigger and position it at the top center of the swirl */
#home img[src="assets/globe.png"] {
    width: 185px; /* Adjust the size as needed */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Make the star smaller */
#home img[src="assets/star-oval.png"] {
    width: 185px; /* Adjust the size as needed */
    position: absolute;
    top: 210px; /* Adjust the positioning as needed */
    left: 30%; /* Adjust the positioning as needed */
}

#home img[src="assets/design1.png"] {
    width: 150px;
    position: absolute;
    bottom: 45px;
    left: 100px;
}


/* Add a horizontal line between design1 and design2 */
#home .line-between-designs {
    width: 360px;
    height: 1px; /* Adjust the height of the line as needed */
    background-color: white;
    position: absolute;
    bottom: 60px; /* Adjust the bottom positioning as needed */
    left: 50%;
    transform: translateX(-50%);
}


#home img[src="assets/design2.png"] {
    width: 200px; /* Adjust the size as needed */
    position: absolute;
    bottom: 45px; /* Adjust the bottom positioning as needed */
    right: 100px; /* Adjust the right positioning as needed */
}



.standalone-rectangle {
    width: 900px; /* Adjust width as needed */
    height: 90px; /* Adjust height as needed */
    margin: 20px auto; /* Adjust margin for positioning */
    border: 1px solid white; /* Border styling */
    position: absolute;
    top: 26.5%; /* Adjust the top positioning to align with h1 */
    left: 50%;
    transform: translateX(-50%);
}

#home h1 {
    font-family:'HeliosExt-Bold', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Additional styling for the h2 element if needed */
#home h2 {
    font-family: 'Helios Bold', sans-serif;
    font-size: 1.25em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ABOUT ME */
#aboutme {
    height: 82vh;
    color: white;
    padding-top: 150px;
}


#about-page-container {
    display: flex;
    /* margin-bottom: 79px; */
    margin-left: 180px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 530px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: -10px;
}

.about-header {
    font-family: 'HeliosExt-Bold', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
    text-align: left;
}

.pink-text {
    color: #FF66C4
}


.cursor-image {
    width: 95px;
    margin-top: -85px;
    margin-left: 197px;
}
/* 
.about-text {
    margin-bottom: 0px;
    line-height: 1.2;
} */

.about-text {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    /* margin-bottom: 10px; */
    line-height: 1.2;
    word-spacing: 0.3em;
    width: 415px;
    margin-left: 35px;
}


.skillset-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -425px;
    margin-left: 610px;
    width: 370px;
    width: 100%;
}

/* Add styling for skillset-header and skillset content as needed */
.skillset-header {
    font-family: 'HeliosExt-Bold', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: -35px;
    line-height: 1;
    text-align: left;
    border: 2px solid white;
    border-radius: 45px;
    padding: 20px;
    width: 290px;
}


/* Add more styling for skillset content if needed */
.languages,
.tools {
    margin-top: 10px;
}

/* Add more styling for skillset content if needed */
.languages h5,
.tools h5 {
    font-family: 'Helios Regular', Helios, sans-serif;
    font-size: 1em;
    margin-right: 1px; /* Adjust the margin between h5 and h2 */
    margin-top: 25px;
}

.languages .title-container,
.tools .title-container {
    display: flex;
    align-items: center;
    margin-bottom: -3px;
    margin-top: -15px;
}

.languages h2,
.tools h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    width: 380px;
    margin-top: 30px;   
}


.languages h3,
.tools h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border: 0px solid pink;
    border-radius: 15px; /* Adjust border-radius for rounded corners */
    margin: 3px;
    padding: 10px;
    display: inline-block; /* Display h3 elements inline */
    transition: box-shadow 0.3s ease;
}

.languages h3:hover,
.tools h3:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect on hover */
}

/* Gradient Colors */
/* Linear Gradient (90 degrees) */
.languages .python {
    background: linear-gradient(90deg, #5170FF, #FF66C4);
}

.languages .javascript {
    background: linear-gradient(90deg, #FF5757, #8C52FF);
}

.languages .html-css {
    background: linear-gradient(90deg, #0097B2, #7ED957);
}

.tools .flask {
    background: linear-gradient(90deg, #8C52FF, #5CE1E6);
}

.tools .nodejs {
    background: linear-gradient(90deg, #8C52FF, #FF914D);
}

.tools .reactjs {
    background: linear-gradient(90deg, #8C52FF, #5CE1E6);
}

.tools .expressjs {
    background: linear-gradient(90deg, #5170FF, #FF66C4);
}

.tools .sqlalchemy {
    background: linear-gradient(90deg, #8C52FF, #00BF63);
}

.design3 {
    position: absolute;
    bottom: -540px;
    left: 1225px;
    width: 30%;
    height: auto;
    z-index: -1;
}


.design4 {
    position: absolute;
    bottom: -920px;
    left: -160px;
    width: 30%;
    height: auto;
    z-index: -1;
}

#projects {
    height: 82vh;
    color: white;
    padding-top: 90px;
    /* background-color: #141418; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    justify-content: space-between; /* Adjust to space-between for cards side by side */
    flex-wrap: wrap;
}

.project-card {
    width: 100%;
    max-width: 300px;
    background-color: #141418;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
}

.project-title {
    font-family: 'Helios Regular', Helios,  sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    font-weight: 700em;
    height: 55px;
    
}

.project-title:hover {
    text-decoration: underline; /* Underline on hover */
}

.project-gif {
    width: 100%; /* Adjust the width as needed */
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1em;
    margin-bottom: 20px;
}

.project-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-skills h5 {
    font-size: 0.9em;
    margin: 5px;
    border: 1px solid white;
    border-radius: 16px;
    width: 76px;
    height: 20px;
    padding: 10%;
    text-align: center;
}


.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
    border-radius: 15px; 
  }
  
  .icon svg {
    width: 25px;
    height: 25px;
  }
  
  .cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
  }
  
  .button-icon:hover {
    border-color: #FF66C4
  }
  
  .button-icon:hover .cube {
    transform: rotateX(90deg);
  }
  
  .side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  
  .top {
    background: #FF66C4;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
    border-radius: 15px; 
  }
  
  .front {
    /* background: #222229; */
    color: #fff;
    transform: translate3d(0, 0, 1em);
    border-radius: 15px; 
  }
  