/*  FONTS */
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios Regular';
    src: url('fonts/Helios.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios Bold';
    src: url('fonts/Helios-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'HeliosExt Bold';
    src: url('fonts/HeliosExt Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* CONTENT */
body {
    font-family: 'Inter', sans-serif, 'HeliosExt Bold'; /* Specify multiple font families */
    margin: 0;
    padding: 0;
    background-color: #141418;
    color: #ffffff;
    margin: 0 auto;
    max-width: 1500px; /* Adjust the maximum width as needed */
}



/* HEADER */

#header {
    display: flex;
    padding: 10px 65px;
    position: fixed;
    top: 0px;
    width: 90%;
    height: 95px;
    /* background-color: #141418; */
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}






/* LOGO */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px; /* Adjust the size of the logo as needed */
    margin-right: 10px; /* Add margin for spacing */
}

/* NAVBAR */

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px; /* Adjust the margin between navbar items */
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Helios Regular', sans-serif
}

/* SOCIAL */

#social {
    display: flex;
    align-items: center;
}

#social div {
    margin-right: 10px; /* Adjust the margin between social icons */
}

#social img {
    width: 30px; /* Adjust the size of the social icons as needed */
}

/* HOME */

#home {
    text-align: center;
    position: relative;
    margin-top: 130px; /* Add some top margin to push content down */
    scroll-margin-top: 130px;
    /* padding-top: 70px; */
    height: 82vh
}

#home img {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
}

/* Make the globe a little bigger and position it at the top center of the swirl */
#home img[src="assets/globe.png"] {
    width: 185px; /* Adjust the size as needed */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Make the star smaller */
#home img[src="assets/star-oval.png"] {
    width: 185px; /* Adjust the size as needed */
    position: absolute;
    top: 210px; /* Adjust the positioning as needed */
    left: 30%; /* Adjust the positioning as needed */
}

#home img[src="assets/design1.png"] {
    width: 150px;
    position: absolute;
    bottom: 45px;
    left: 100px;
}


/* Add a horizontal line between design1 and design2 */
#home .line-between-designs {
    width: 360px;
    height: 1px; /* Adjust the height of the line as needed */
    background-color: white;
    position: absolute;
    bottom: 60px; /* Adjust the bottom positioning as needed */
    left: 50%;
    transform: translateX(-50%);
}


#home img[src="assets/design2.png"] {
    width: 200px; /* Adjust the size as needed */
    position: absolute;
    bottom: 45px; /* Adjust the bottom positioning as needed */
    right: 100px; /* Adjust the right positioning as needed */
}



.standalone-rectangle {
    width: 900px; /* Adjust width as needed */
    height: 90px; /* Adjust height as needed */
    margin: 20px auto; /* Adjust margin for positioning */
    border: 1px solid white; /* Border styling */
    position: absolute;
    top: 26.5%; /* Adjust the top positioning to align with h1 */
    left: 50%;
    transform: translateX(-50%);
}

#home h1 {
    font-family:'HeliosExt-Bold', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Additional styling for the h2 element if needed */
#home h2 {
    font-family: 'Helios Bold', sans-serif;
    font-size: 1.25em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ABOUT ME */
#aboutme {
    height: 82vh;
    color: white;
    padding-top: 150px;
}


#about-page-container {
    display: flex;
    /* margin-bottom: 79px; */
    margin-left: 180px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 530px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: -10px;
}

.about-header {
    font-family: 'HeliosExt-Bold', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
    text-align: left;
}

.pink-text {
    color: #FF66C4
}


.cursor-image {
    width: 95px;
    margin-top: -85px;
    margin-left: 197px;
}
/* 
.about-text {
    margin-bottom: 0px;
    line-height: 1.2;
} */

.about-text {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    /* margin-bottom: 10px; */
    line-height: 1.2;
    word-spacing: 0.3em;
    width: 415px;
    margin-left: 35px;
}


.skillset-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -425px;
    margin-left: 610px;
    width: 370px;
    width: 100%;
}

/* Add styling for skillset-header and skillset content as needed */
.skillset-header {
    font-family: 'HeliosExt-Bold', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: -35px;
    line-height: 1;
    text-align: left;
    border: 2px solid white;
    border-radius: 45px;
    padding: 20px;
    width: 290px;
}








/* Add more styling for skillset content if needed */
.languages,
.tools {
    margin-top: 10px;
}

/* Add more styling for skillset content if needed */
.languages h5,
.tools h5 {
    font-family: 'Helios Regular', Helios, sans-serif;
    font-size: 1em;
    margin-right: 1px; /* Adjust the margin between h5 and h2 */
    margin-top: 25px;
}

.languages .title-container,
.tools .title-container {
    display: flex;
    align-items: center;
    margin-bottom: -3px;
    margin-top: -15px;
}

.languages h2,
.tools h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    width: 380px;
    margin-top: 30px;   
}


.languages h3,
.tools h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border: 0px solid pink;
    border-radius: 15px; /* Adjust border-radius for rounded corners */
    margin: 3px;
    padding: 10px;
    display: inline-block; /* Display h3 elements inline */
    transition: box-shadow 0.3s ease;
}

.languages h3:hover,
.tools h3:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect on hover */
}

/* Gradient Colors */
/* Linear Gradient (90 degrees) */
.languages .python {
    background: linear-gradient(90deg, #5170FF, #FF66C4);
}

.languages .javascript {
    background: linear-gradient(90deg, #FF5757, #8C52FF);
}

.languages .html-css {
    background: linear-gradient(90deg, #0097B2, #7ED957);
}

.tools .flask {
    background: linear-gradient(90deg, #8C52FF, #5CE1E6);
}

.tools .nodejs {
    background: linear-gradient(90deg, #8C52FF, #FF914D);
}

.tools .reactjs {
    background: linear-gradient(90deg, #8C52FF, #5CE1E6);
}

.tools .expressjs {
    background: linear-gradient(90deg, #5170FF, #FF66C4);
}

.tools .sqlalchemy {
    background: linear-gradient(90deg, #8C52FF, #00BF63);
}

.design3 {
    position: absolute;
    bottom: -540px;
    left: 1225px;
    width: 30%;
    height: auto;
    z-index: -1;
}


.design4 {
    position: absolute;
    bottom: -920px;
    left: -160px;
    width: 30%;
    height: auto;
    z-index: -1;
}

#projects {
  height: 82vh;
  color: white;
  padding-top: 90px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  padding-bottom: 30px;
  justify-content: space-evenly;
}


.pro-card {
  position: relative;
  width: 295px;
  height: 475px;
  background-color: #141418;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  padding-top: 20px;
  gap: 12px;
  border-radius: 40px;
  cursor: pointer;
}

.pro-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  /* background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%); */
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pro-card:hover:after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.project-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
}

.pro-card p:not(.project-title) {
  font-size: 14px;
}

.pro-card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.pro-card:hover::after {
  filter: blur(30px);
}

.pro-card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.project-gif {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin: 5px;
  justify-content: flex-start;
}

.project-skills h5 {
  font-size: 0.9em;
  margin: 5px; /* Adjusted margin */
  border: 1px solid white;
  border-radius: 16px;
  padding: 3%;
  text-align: center;
}



























.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border-radius: 20px;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
  border-radius: 15px; 
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #FF66C4
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #FF66C4;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
  border-radius: 15px; 
}

.front {
  /* background: #222229; */
  color: #fff;
  transform: translate3d(0, 0, 1em);
  border-radius: 15px; 
}





  #contact {
    height: 82vh;
    color: white;
    padding-top: 90px;
    /* background-color: #141418; */
}






    
  
  .card {
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
    align-items: center;
  }
  
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
    stroke:  #FF66C4;
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    stroke: linear-gradient(90deg, #5170FF, #FF66C4)
  }
  
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid  #5170FF;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: linear-gradient(90deg, #5170FF, #FF66C4);
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: #FF66C4;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button {
    background: white;
    color:  #FF66C4;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card .bottom .bottom-bottom .button:hover {
    background:  #FF66C4;
    color: white;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid  #FF66C4;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }





  .form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  